html, body{
    margin: 0;
    padding:0;
    border: 0;
    box-sizing: border-box;
    background: #462c5e;
}

.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vh auto vh 10vh;
    grid-template-areas:  "h h"
                          "m a"
                          "f f";
                         
}

header{
    background-color: #e9b59f;
    grid-area: h;
    padding: 40px;
}

main{
    background-color: #c1dbc3;
    grid-area: m;   
}
aside{
    background-color:#8616A8;
    grid-area:a;
}

footer{
    background-color: #f5c0ec;
    grid-area:f;
}

header div{
    text-align: center;
}

header div a{
    color: rgb(62, 57, 83);
    font-size: 30px;
    padding-top: 60px;
    text-decoration: none;
}