header div a:hover{
    color: rgb(92, 3, 82);
    
}

footer div{
    text-align: center;
    color: rgb(171, 162, 212);
}

footer div a{
    color: rgb(62, 57, 83);
    font-size: 20px;
    padding-top: 60px;
    text-decoration: none;
}

.aside-p{
    color: #E3A6F5;
}
.aside-p > img{
    width: 40px;
    border-radius:20px;
}
.perfil-imagem{
    padding-left: 133px;
    padding-top: 30px;
}

.imagem-text{
    position: relative;
    padding: 23px 23px 23px 330px;
}

#text-descricao{
    position: relative; 
    padding-left: 40px; 
    text-align: center;
}