@media screen and (max-width: 400px) {
    .container{
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-template-rows: 10vh auto vh 10vh;
        grid-template-areas:  "h h"
                              "a a"
                              "m m"
                              "f f";                       
    }

    .perfil-imagem{
        position: relative;
        padding-left: 130px;
        padding-right: 90px;
        padding-top: 30px;
    }

    #text-descricao{
        position: relative; 
        padding-left: 0px; 
        text-align: center;
    }
    .imagem-text{
        position: relative;
        padding: 0px 10px 0px 10px;
    }

    
    .imagem-text > img{
        width: 250px;
        height: 200px;
        position: relative;
        padding-top: 30px;
        padding-left: 5px;
    }

    header div{
        text-align: 0;
    }

    .imagem-text-responsivo{
        position: relative;
        padding: 30px 0px 30px 30px;
    }

    .card{
        padding: 0px;
    }
    .anuncio{
        padding: 0px;
    }

    .elemento-principal {
        position: absolute;
        left: 100px;
        
    }
    .elemento-a-ser-centralizado {
        
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        
    }
    .grup{
        padding-left: 40px;
        padding-bottom: 100px;
        padding-top: 50px;
    }
    .form-group{
        padding-bottom: 30px;
    }
    #pepate{
        padding-bottom: 30px;
    }
    #img1{
        padding-right: 30px;
    }
    #mensagem{
        padding-right: 30px;
    }
    #pedra{
        padding-right: 150px;
    }
    #papel{
        padding-right: 150px;
    }
 
}

