        .font-italic{
            padding-left: 210px;
            padding-bottom: 60px;
        }


        #gmail{
            position: relative;
            left: 44px;
        }

        .rodape{
            position: relative;
            top: 400px;
            padding-left: 200px;
        }
        
        .apresentacao{
            position: relative;
            bottom: 320px;
        }

        main{
            position: relative;
            left: 200px;
            top: 100px;
        }
        #imagem-principal-img{
            position: relative;
            left: 880px;
            top: 30px;
            width: 280px;
            height: 280px;
        }

        .back-color{
            padding-top: 12px;
            padding-left: 20px;
            background-color: rgba(49, 255, 203, 0.1);
            border-radius: 40px;
            position: relative;
            right: 30px;
        }
        .titulo-pagina{
            padding-right: 20px;
        }
        .fonte{
            font-family: 'Indie Flower', cursive;
        }
        h2{
            padding-top: 110px;
        }
        .titulo-livro{
            font-family: 'Indie Flower', cursive;
            font-size: 30px;

        }
        body{
            background-color: rgba(191, 216, 210, 0.5);
        }
        small>div{
            padding-top: 42px;
            padding-left: 130px;
        }
        small>div#creditos{
            padding-top: 22px;
        }

        .fa{
            font-size:48px;
            padding-left: 46px;
            padding-right: 46px;
            text-decoration: none;
            
        }

        a:link, a:visited{
            color:rgba(43, 26, 141,0.5);
        }

        a:hover{
            color:rgb(15, 11, 11);
        }
        #tecnologias{
            padding-top: 48px;
        }
        a:link{
            text-decoration:none;
        }
        .btn{
            color:rgba(194, 50, 105, 0.5);
            
            border-color: rgba(15, 11, 11, 0.4);
        }
        .btn:hover{
            background-color: rgba(255, 0, 0, 0.4);
            border-color: rgba(255, 0, 0, 0.4);
        }
        .btn:link{
            background-color: rgba(15, 11, 11, 0.4);
            border-color: rgba(15, 11, 11, 0.4);
        }
        .titulo-pagina{
            position: absolute;
            left: 200px;
            top: 150px;
            bottom: 100px;

        }
        .titulo-prinpal{
            font-family: 'Indie Flower', cursive;
            font-size: 30px;
        }
        .back-color-conteudo{
            padding-top: 12px;
            padding-left: 20px;
            background-color: rgba(49, 255, 203, 0.1);
            border-radius: 40px;
            position: relative;
            right: 30px;
        }


        @media screen and (max-width: 600px) {
            #imagem-principal-img{
                position: relative;
                height: 100px;
                width: 100px;
                top: 4px;
                left: 280px;
                
            }
            .apresentacao{
                position: relative;
                top: 0px;
            }
            main{
                position: relative;
                top: 120px;
                left: 50px;
            }
            footer{
                position: relative;
                right: 200px;
            }
            .fa{
            font-size:48px;
            padding-left: 16px;
            padding-right: 16px;
            text-decoration: none;
            
        }
        .nome-descricao{
            padding-top: 50px;
            padding-left: 42px;

        }
        .indix{
            position: relative;
            left: 23px;
        }
        iframe{
            width: 20px;
        }
        .rodape{
            position: relative;
            top: 400px;
            left: -130px;
        }
        #gmail{
            position: relative;
            left: 15px;
        }
        ol{
            position: relative;
            left: 30px;
        }
        .links{
            padding-left: 2px;
        }
        .font-italic{
            padding-left: 80px;
        }
        small>div#creditos{
            padding-left: 10px;
        }
        small>div#copyright{
            padding-left: 10px;
        }
        .titulo-livro{
            font-family: 'Indie Flower', cursive;
            font-size: 30px;

            position: relative;
            left: -200px;
            padding-top: 100px;
        }
        .back-color{
            padding-top: 12px;
            padding-left: 12px;
            padding-right:10px ;
            
            background-color: rgba(49, 255, 203, 0.1);
            border-radius: 40px;
            position: relative;
            right: 110px;
            left: -150px;
            top: 60px;
            display: block;
        }
        img{
            position: relative;
            left: -200px;
        }
        .back-color-conteudo{
            padding-top: 12px;
            padding-left: 12px;
            padding-right:10px ;
            
            background-color: rgba(49, 255, 203, 0.1);
            border-radius: 40px;
            position: relative;
            right: 110px;
            left: -200px;
            top: 60px;
            display: block;
        }
    }
